@model WebAppArtek.Models.Materiales

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Materiales</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mat_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mat_Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mat_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mat_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mat_Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mat_Estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Materiales }) |
    @Html.ActionLink("Back to List", "Index")
</p>
